#content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

#searchForm {
    display: flex;
    gap: 5px;
}

#weatherDisplay {
    color: blue;
}

#loading {
    color: black;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}